<div id="sliderPanel" class="panelWarp">
    <div Jid="panel"  :class="[show ? 'slideInRight' : 'slideOutRight']" class="panel panel-right panel-reveal animated">
        <div class="box-content">
            <div class="bar bar-header-secondary">
                <div class="searchbar">
                    <a class="searchbar-cancel">Cancel</a>
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search' placeholder='input some query...'/>
                    </div>
                </div>
            </div>
            <!-- Click on link with "close-panel" class will close panel -->
            <div class="content">
                <div class="left">
                    <div class="spret">A</div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="spret">A</div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                    <div class="oneP">
                        <img class="head" src="static/images/head.jpg" alt=""/>
                        <div class="info">
                            <div class="name">周世超</div>
                            <div class="bank">中国上海银行</div>
                            <div class="note">中国上海银行中国上海银行中国上海银行中国上海银行中国上海银行</div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                    <div class="index">A</div>
                </div>
            </div>
        </div>
    </div>
</div>
